@font-face {
  font-family: "ONE-Mobile-Title";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Title.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.onemobiletitle * {
  font-family: "ONE-Mobile-Title", sans-serif;
}

.mainFlexStyle {
  margin: 48px;
  padding: 16px;
  flex-grow: 1;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.description {
  white-space: pre-line;
}
